<a href="{{ path('bienvenuAvecNom', {'nom' : 'Pierre' }) }}">Bienvenue Pierre</a>
<a href="{{ path('bienvenuAvecNom', {'nom' : 'Victor' }) }}">Bienvenue Victor</a>
<a href="{{ path('bienvenuAvecNom', {'nom' : 'Isabelle' }) }}">Bienvenue Isabelle</a>
<a href="{{ path('bienvenuAvecNom', {'nom' : 'Félix' }) }}">Bienvenue Félix</a>
