{# Affichage d'une variable qui correspond à un titre #}
{# Variable qui sera définie dans le controleur : BonjourControlleur #}
{# Affichage de bonjour + un paramètre #}
<div>{{ bonjour }}</div><br>
{# Ce titre sera affiché en majuscule #}
<div>{{ titre | upper}}</div>
{# Ajout d'une itération POUR = répétition #}
{# Demande de répéter sur la variable array (tableau), qui contiendra donc plusieurs éléments (item) #}
{# La variable array sera définie puis transmise par le controleur : BonjourControlleur #}
{# Chaque élément du tableau sera donc affiché entre 2  balises LI #}
<ul>
    {% for item in array %}
        <li>{{item}}</li>
    {% endfor %}
</ul>